---
import Layout from '../layouts/Layout.astro';
---

<Layout title="TMTecnologia - Contato">
  <main class="m-0 p-0">
    <h1>Thales Menezes Tecnologia - TMTecnologia</h1>
  </main>
</Layout>

<style>
  * {
  }
</style>
