---
import Layout from '../layouts/Layout.astro';
---

<Layout title="TMTecnologia - Contato">
  <main class="m-0 p-0 flex flex-col items-center justify-center min-h-screen">
    <picture class="p-10 m-5">
      <source media="(prefers-color-scheme: light)" srcset="/logo-color.png" />
      <img
        class="md:max-w-sm"
        src="/logo-white.png"
        alt="Thales Menezes Tecnologia - TMTecnologia"
      />
    </picture>
    <form
      target="_blank"
      action="https://formsubmit.co/db3f3c8625405439151bac552e369251"
      method="POST"
      class="grid gap-5 grid-cols-1"
    >
      <div class="grid gap-5 md:grid-cols-2">
        <div class="form-control">
          <label class="input-group">
            <span>Nome</span>
            <input
              type="text"
              name="name"
              class="input input-bordered"
              required
            />
          </label>
        </div>
        <div class="form-control">
          <label class="input-group">
            <span>Email</span>
            <input
              type="email"
              name="email"
              placeholder="info@site.com"
              class="input input-bordered"
              required
            />
          </label>
        </div>
      </div>
      <div class="form-control">
        <textarea
          class="textarea textarea-bordered h-24"
          placeholder="Conte-nos um pouco mais sobre seu sonho"
          name="message"
          required></textarea>
      </div>
      <input type="hidden" name="_subject" value="Novo contato!" />
      <input
        type="hidden"
        name="_autoresponse"
        value="Obrigado pelo seu contato, em breve estaremos avaliando a melhor forma de codificar seu sonho"
      />
      <input class="btn" type="submit" />
    </form>
  </main>
</Layout>

<style>
  * {
  }
</style>
